.hero {
    position: relative;
  }
  .image-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping to next line */
    justify-content: space-between; /* Distribute space evenly between images */
    overflow: hidden; /* Hide any overflowing content */
  }
  .image{
    height: auto;
    max-width: 100%;
  }
.container {
    background-color: #DCE1E6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 0;
  }
  .vertical-line {
    position: absolute;
    border: 60px solid #6A45FF;
    background-color: #6A45FF;
    width: 10px; 
    height: 48px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  .container-content {
    position: relative;
    z-index: 1; 
  }
  
  .container-image {
    max-height: 100%;
    object-fit: cover;
    max-width: 50%;
    width: 100%;
    margin-right: 40%;
    margin-top: 80px;
  }
  
  .content {
    
    flex-direction: row;
    align-items: flex-start;
    margin-left: 70%;
  }
  
  p {
    margin: 0;
  }
  
  button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .white-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    position: relative;
    top: 0;
    left: 0; 
    background-color: rgb(255, 255, 255);
    z-index: 2;
  }
  
  .polygon {
    position: absolute;
    top: 30%; 
    left: 710px;
    transform: translate(-50%, -50%); 
    animation: logoAnimation 4s infinite; 
  }
  
  .triangle {
    width: 0;
    height: 0;
    position: absolute;
  }
  
  .right {
    border-left: 50px solid transparent;
    border-right: 50px solid #E9FF60;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
  }
  
  .top {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #8BFF54;
    border-bottom: 50px solid transparent;
  }
  
  .left {
    border-left: 50px solid #6587FF;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
  }
  
  .bottom {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    border-bottom: 50px solid #FF5252;
  }
  
  @keyframes logoAnimation {
    0% {
      transform: rotate(0deg) scale(1); 
    }
    50% {
      transform: rotate(180deg) scale(1.5); 
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
  
  @media (max-width: 767px) {
    .image {
      display: block;
      margin: 1rem auto;
    }
    .container {
      flex-direction: column-reverse;
      align-items: center;
      padding: 10px;

    }
    .vertical-line {
        border: 20px solid blue;
        opacity: 0.4;
    }
    .container-image {
      max-width: 55%;
      max-height: 300px;
      margin-bottom: 90px;
    }
    .content {
      margin-left: 10%;
      text-align: left;
    }
  
    button {
      margin-right: 20px;
      font-size: 15px;
      cursor: pointer;
    }
    .polygon {
        top: 30%; 
        left: 40%; 
        transform: translate(-50%, -50%); 
      }
      
      .right,
      .top,
      .left,
      .bottom {
        border-width: 36px; 
      }
  }
  
  @media (min-width: 768px) {
    .image-container {
      flex-direction: row;
    }
  
    .image {
      width: 100%;
      max-width: 506px;
      display: block;
    }
  }
  