.hero {
    position: relative;
  }
  
  .image-container {
    display: flex;
    flex-direction: column; 
    position: relative;
    z-index: 2;  
    flex-wrap: nowrap; /* Prevent wrapping to next line */
    margin-top: 5%;
    overflow: hidden; /* Hide any overflowing content */
    max-width: 100%;
  }
  .para{
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 15px;
  }
  .image {
    max-width: 100%;
    height: auto;
  }
  
.container {
    background-color: #DCE1E6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 1; 
  }
  .containernew{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 1;
    margin-top: 10%;
  }
  
  .vertical-line {
    position: absolute;
    border: 100px solid #6A45FF;
    background-color: #6A45FF;    
    width: 10px; 
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
  }
  
  
  .container-content {
    position: relative;
    z-index: 2; 
  }
  
  .container-image {
    max-height: 100%;
    object-fit: cover;
    max-width: 50%;
    width: 100%;
    margin-right: 40%;
    margin-top: 80px;
    z-index: 0;
  }
  
  .content {

    flex-direction: row;
    align-items: flex-start;
    margin-left: 70%;
  }
.horizontal-line {
    position: absolute;
    background-color: blue;
    width: 230px; 
    height: 4px;
    top: 4 * 20px;
    left: 65%; 
    transform: translateX(-50%); 
    z-index: 2; 
  }
  
  p {
    margin: 0;
    color: white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 5px;
  }
  
  button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .white-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    position: relative;
    top: 0;
    left: 0; 
    background-color: rgb(255, 255, 255);
    z-index: 2;
  }
  
  .polygon {
    position: absolute;
    
    top: 30%; 
    left: 710px;
    transform: translate(-50%, -50%); 
    animation: logoAnimation 4s infinite; 
  }
  
  .triangle {
    width: 0;
    height: 0;
    position: absolute;
  }
  
  .right {
    border-left: 50px solid transparent;
    border-right: 50px solid #E9FF60;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
  }
  
  .top {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid #8BFF54;
    border-bottom: 50px solid transparent;
  }
  
  .left {
    border-left: 50px solid #6587FF;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
  }
  
  .bottom {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    border-bottom: 50px solid #FF5252;
  }
  
  @keyframes logoAnimation {
    0% {
      transform: rotate(0deg) scale(1); 
    }
    50% {
      transform: rotate(180deg) scale(1.5); 
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }
  
  @media (max-width: 767px) {
    .image {
      display: block;
      margin: 1rem auto;
    }
    p {
        text-align: center;
        margin: 0;
        color: white;
        font-weight: 600;
        font-size: 10px;
        left: 10px;
        letter-spacing: 3px;
      }
      .para{
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 5px;
      }
    .horizontal-line{
        top: 40px;
        left: 112px;
        width: 200px;
    }
    .container {
      flex-direction: column-reverse;
      align-items: center;
      padding: 10px;

    }
    .vertical-line {
        border: 20px solid #6A45FF;
    }
    .container-image {
      max-width: 55%;
      max-height: 300px;
      margin-bottom: 90px;
    }
    .content {
      margin-left: 10%;
      text-align: left;
    }
  
    button {
      margin-right: 20px;
      font-size: 15px;
      cursor: pointer;
    }
    .polygon {
        margin-left: 27%;
        top: 30%; 
        left: 15%; 
        transform: translate(-50%, -50%); 
      }
      
      .right,
      .top,
      .left,
      .bottom {
        border-width: 36px; 
      }
  }
  
  @media (min-width: 768px) {
    .image-container {
      flex-direction: row;
    }
    
    .image {
      width: 100%;
      max-width: 506px;
      display: block;
    }
  }
//   @media (min-width: 3000px) {
//     .polygon {
//         margin-left: 25%;
//         top: 30%; 
//         left: 24%; 
//         transform: translate(-50%, -50%); 
//       }
      
//       .right,
//       .top,
//       .left,
//       .bottom {
//         border-width: 36px; 
//       }
//       .image-container {
//         display: flex;
//         flex-direction: row; 
//         position: relative;
//         z-index: 2;  
//         flex-wrap: nowrap; /* Prevent wrapping to next line */
//         margin-top: 5%;
//         max-width: 100%;
        
//       }
//       .image {
//         max-width: 50%;
//         height: auto;
//       }
//   }
  @media (min-width: 1440px) {
    .polygon {
        margin-left: 18%;
        top: 30%; 
        left: 30%; 
        transform: translate(-50%, -50%); 
      }
      
      .right,
      .top,
      .left,
      .bottom {
        border-width: 36px; 
      }
      .image-container {
        display: flex;
        flex-direction: row; 
        position: relative;
        z-index: 2;  
        
        margin-top: 5%;
        max-width: 100%;
        
      }
      .image {
        max-width: 50%;
        height: auto;
      }
  }
  
  