.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Revalia', sans-serif;
    text-align: center;
    color: black;
    letter-spacing: 3px;
  
    .logo-image {
      max-width: 32px;
      max-height: 32px;
      margin-left: 10px;
    }
  
    @media (max-width: 1023px) {
      font-size: 24px;
      .logo-image {
        max-width: 24px; 
        max-height: 24px;
        margin-left: 5px;
      }
    }
  
    @media (max-width: 767px) {
      font-size: 20px; 

        display: flex;
      .logo-image {
        max-width: 20px; 
        max-height: 20px;
        margin-left: 5px; 
      }
    }
  }
  